.hero {
  background: linear-gradient(to right, black, transparent),
    url("../../images/No-Break_Cheesecake/No-Bake\ Cheesecake\ Flag\ Cake_2.webp");
  min-width: 100%;

  background: linear-gradient();
}
