.hero {
  background: linear-gradient(to right, black, transparent),
    url("../../images/Cheri-Cola_Ribs/7547750_Cherry-Cola-Ribs_Chef-John_2x1-c7ab08594462411281fe8aa3a7d3e70b.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
}
