:root {
  --heading-clr: red;
  --p-clr: black;
  --alt-p-clr: orange;

  --main-bg: white;
  --alt-bg: rgb(230, 230, 230);
  --dark-bg-clr: black;

  --primary-color: black;
  --secondary-color: white;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* =========== scrollbar===========  */
/* width */
::-webkit-scrollbar {
  width: 7.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-clr);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--alt-text-clr);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-clr);
}

/* ===========keyframes=========== */

@keyframes fade-in {
  to {
    scale: 1;
  }
}

.fade-in {
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 500px;
}

/*=========== typography ===========*/

.title {
  font-size: 4rem;
  font-weight: 700;
  color: var(--secondary-color);
  padding-top: 200px;
  padding-left: 100px;
  z-index: 999;
  position: relative;
}

.subtitle {
  font-size: 2rem;
  font-weight: 500;
  color: var(--heading-clr);
  padding-bottom: 20px;
  text-align: center;
}

.text {
  font-size: 1.25rem;
  text-align: justify;
  font-weight: 300;
  padding-bottom: 20px;
  line-height: 1.25rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--p-clr);
}

ul {
  list-style: none;
  padding-left: 0px;
}

/*====================== sections ======================*/

.wrapper {
  margin: auto 100px;
  scale: 0.8;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

section:nth-child(even) {
  background-color: var(--alt-bg);
}

/*=========================== hero section ===========================*/

.hero {
  min-height: 100dvh;
  position: relative;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  width: 180px;
  height: 180px;
  border: 10px solid var(--heading-clr);

  position: absolute;
  top: 200px;
  left: 50px;

  z-index: 0;
}

/*=========================== images column=========================== */

.images-col {
  padding-top: 20px;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: all 200ms ease;
  }

  img:hover {
    transform: scale(1.1) translateY(-10px);
    transition: all 500ms ease;
  }
}

/* ================================cards ================================*/

.cards {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
}

.card-title {
  font-size: 1.2rem;
  color: var(--heading-clr);
  text-decoration: underline;
  padding-bottom: 10px;
}
.card {
  background-color: var(--main-bg);
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
  width: 350px;
  height: 400px;
  padding: 20px 20px 20px 20px;
  transition: all 500ms ease;
}

.card ul {
  list-style-type: decimal;
  padding-left: 20px;
}

.card:hover {
  transform: translateY(-20px);
  transition: all 200ms ease;

  ul {
    font-weight: 400;
    transition: all 200ms ease;
  }
}

/*===================================== table =====================================*/
.table-row {
  height: 100px;
  border-bottom: 1px solid black;
}

.step {
  min-width: 200px;
  color: var(--heading-clr);
  font-size: 1.25rem;
}

.step-description {
  font-size: 1.25rem;
}

.step-images {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;

  img {
    width: 200px;
    height: 200px;
    gap: 50px;
    border-radius: 50%;
    transition: all 200ms ease;
  }

  img:hover {
    transform: scale(1.1) translateY(20px);
    transition: all 500ms ease;
  }
}

hr {
  border-top: 0.5px solid var(--primary-color);
  margin: auto 100px;
}

/*================= more recipes =====================*/

.more-col {
  display: flex;
  justify-content: space-evenly;
}

.next-recipe {
  img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    transition: all 200ms ease;
  }

  img:hover {
    transform: translate(50px);
    transition: all 500ms ease;
  }
}

/*===== socials section =====*/

.socials {
  background-color: gray;
  height: 9rem;

  display: flex;
  justify-content: end;

  .social-wrapper {
    margin: auto 100px;
  }

  a {
    padding-right: 20px;
    font-size: 1.5rem;
  }
}

/* =====footer section===== */

footer {
  background-color: var(--dark-bg-clr);
  color: var(--secondary-color);
  height: 100px;

  .footer-wrapper {
    margin: auto 100px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;

    a {
      color: var(--secondary-color);
    }
  }
}
