@import url("./recipe-main.css");

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  z-index: 1000;
  transition: 0.5s;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 10%;
  transition: all 500ms ease;
}

header nav.scrolled {
  background: rgba(30, 30, 30, 0.5);
  padding: 0.3rem 10%;
  backdrop-filter: none;
  -webkit-backdrop-filter: blur(4px);
  transition: all 200ms ease;
}

header nav.scrolled .menu-items a {
  color: var(--secondary-color);
}

header nav .logo img {
  width: 200px;
}

/* menu */

header nav .menu-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header nav .menu-items a {
  color: var(--secondary-color);
  text-decoration: none;
  list-style: none;
  padding: 0 20px;
  font-weight: 600;
}

header nav .menu-items a {
  position: relative;
}

header nav .menu-items a:hover {
  text-decoration: none;
  position: relative;
}

header nav .menu-items a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: var(--alt-text-clr);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

header nav .menu-items a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* ===buttons=== */

/* search */
header nav .nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

header nav .nav-buttons button {
  border: none;
  outline: none;
}

header nav .nav-buttons .search {
  color: var(--secondary-color);
  background: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  outline: none;
}

header nav.scrolled .nav-buttons .search {
  color: var(--secondary-color);
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

/* language selector button */

header nav .nav-buttons .language-selector {
  color: var(--secondary-color);
  background: transparent;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
header nav .nav-buttons .language-selector select {
  border: none;
  text-decoration: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: transparent;
  font-weight: 600;
  color: var(--secondary-color);

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

header nav .nav-buttons .language-selector select > datalist {
  background-color: transparent;
}

header nav .nav-buttons .language-selector select option {
  color: var(--secondary-color);
  font-size: small;
  font-weight: 600;
  background: transparent;
  /* outline: none; */
}

header nav.scrolled .nav-buttons .language-selector {
  background-color: transparent;
  color: var(--secondary-color);
  border: none;
  outline: none;
}

header nav.scrolled .nav-buttons .language-selector select {
  color: var(--secondary-color);
}
