@import url("/Assets/css/main.css");

footer {
  background: rgba(0, 0, 0, 0.9);
  /*background-color: var(--dark-background-color);*/
  position: relative;
  bottom: 0;
  width: 100%;
  height: 300px;
  margin-top: auto;
}

footer .footer-container .row {
  padding-top: 30px;
}

footer .footer-container h2 {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 1);
}

footer .footer-container .about-us p {
  font-size: smaller;
  color: #999;
  text-align: justify;
  padding: 0 20px 0 0;
}

footer .footer-container ul.footer-links {
  list-style: none;
  text-decoration: none;
  padding-left: 0px;
}

footer .footer-container ul.footer-links li a {
  color: #999;
  font-size: small;
}

footer .footer-container ul.footer-links li:hover {
  transform: translateX(10px);
}

footer .footer-container ul.footer-links li:hover a {
  color: var(--alt--text-clr);
  font-weight: 700;
}

footer .footer-container .row div:first-child h2 > img {
  width: 150px;
  filter: contrast(2);
  transform: translateY(5px) translateX(5px);
}

footer .footer-container .row div:nth-child(3) h2 {
  text-align: center;
}

footer .footer-container .social-icons {
  display: flex;
  flex: content;
  justify-content: center;
  gap: 20px;
}

footer .footer-container .social-icons .socialContainer {
  border-radius: 50%;
}

/* for all social containers*/
footer .footer-container .social-icons .socialContainer {
  width: 52px;
  height: 52px;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}

/* instagram*/
footer .footer-container .social-icons .containerOne:hover {
  background-color: #e4405f;
  transition-duration: 0.3s;
}

/* twitter*/
footer .footer-container .social-icons .containerTwo:hover {
  background-color: #1da1f2;
  transition-duration: 0.3s;
}

/* linkedin*/
footer .footer-container .social-icons .containerThree:hover {
  background-color: #0077b5;
  transition-duration: 0.3s;
}

/* Whatsapp*/
footer .footer-container .social-icons .containerFour:hover {
  background-color: #25d366;
  transition-duration: 0.3s;
}

footer .footer-container .social-icons .socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

footer .footer-container .social-icons .socialSvg {
  width: 17px;
}

footer .footer-container .social-icons .socialSvg path {
  fill: rgb(255, 255, 255);
}

footer .footer-container .social-icons .socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

footer .footer-container hr {
  color: var(--alt--text-clr);
  font-weight: 200;
}

footer .footer-container .row.copyright {
  padding: 0;
}

footer .footer-container .row .copyright {
  display: flex;
  flex: content;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: smaller;
}

footer .footer-container .row .copyright .company p {
  font-size: smaller;
}

/* author tooltip */

footer .footer-container .row .copyright .authors {
  font-size: smaller;
  color: var(--primary-color);
}

footer .footer-container .row .copyright .authors a {
  text-decoration: none;
  color: #999;
}

footer .footer-container .row .copyright .authors .author-tooltip {
  position: relative;
  display: inline-block;
  color: white;
}

footer .footer-container .row .copyright .company p {
  color: rgb(255, 255, 255); /* Change the color */
}

footer
  .footer-container
  .row
  .copyright
  .authors
  .author-tooltip
  .tooltip-text {
  visibility: hidden;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.9);
  color: var(--secondary-color);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 125%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

footer .footer-container .row .authors .author-tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--dark-background-color) transparent transparent transparent;
}

footer .footer-container .row .authors .author-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}
