:root {
  --main-background-color: hsl(160, 13%, 33%);
  --dark-background-color: hsl(0, 0%, 0%);
  --light-background-color: hsl(0, 0%, 100%);
  --primary-color: hsl(0, 0%, 100%);
  --secondary-color: hsl(0, 0%, 0%);
  --text-color: hsl(38, 100%, 60%);
  --alt-text-color: hsl(205, 33%, 71%);
  --h1-color: hsl(0, 100%, 50%);
  --h2-color: hsl(0, 100%, 50%);

  --btn-color: hsl(50, 91%, 52%);

  --primary-font-family: "Inter", sans-serif;
  --secondary-font-family: "Playfair Display";
}

* {
  box-sizing: border-box;
  font-family: var(--primary-font-family);
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-background-color);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* =====Typography===== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--alt-text-color);
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
}

h5 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}

h6 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

/* ===== Keyframes =====*/

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* =====responsive===== */
