:root {
  --main-bg-clr: #ffffff;
  --dark-bg-clr: #000000;
  --light-bg-clr: #999999;
  --ribbon-bg-clr-1: rgba(176, 14, 47, 1) 0%;
  --ribbon-bg-clr-2: rgba(201, 37, 53, 1) 100%;

  --primary-clr: #000000;
  --secondary-clr: #ffffff;
  --alt--text-clr: rgba(201, 37, 53, 1);

  --text-color: #000000;
  --h1-clr: rgba(201, 37, 53, 1);
  --h2-clr: rgba(201, 37, 53, 1);

  --btn-bg-clr: rgba(176, 14, 47, 1);

  --primary-font-family: "Inter", sans-serif;
  --secondary-font-family: "Playfair Display";
}

* {
  box-sizing: border-box;
  font-family: var(--primary-font-family);
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* =====Typography===== */

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

/*  all h2s  */
.subtitle {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--h2-clr);
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
}

h5 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}

h6 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

/* ===== Keyframes =====*/

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ===== containers and rows===== */

.container {
  margin: auto 6.25rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
